.filters{
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	overflow: hidden;
	/*! padding: 10px; */
}

.info_box {
	color: black;
	width: 50%;
	height: 100%;
	float: left;
	font-weight: 600;
}

.locations {
	width: 50%;
	float: left;
	height: 100%;
	box-sizing: border-box;
	/*! padding: 10px; */
	padding-left: 60px;
	border-right: 1px solid #DDDDDD;
	/*! padding-top: 1px solid inherit; */
	padding-top: 10px;
}

.amentities {
	width: 50%;
	float: right;
	height: 100%;
	padding-left: 60px;
	padding-top: 10px;
}
.title {
	font-weight: 600;
	margin: 0;
	height: 50%;
}

.subtitle {
	margin: 0;
	font-weight: 400;
	height: 50%;
	font-size: 14px;
}