.filters{
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.info_box {
	color: black;
	width: 50%;
	height: 100%;
	float: left;
}

.locations {
	width: 50%;
	float: left;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid #DDDDDD;
	padding-top: 10px;
	position: relative;
	display: inline-block;
}
.locations:hover .popover {
	display: block;
}

.amenities {
	width: 50%;
	float: right;
	height: 100%;
	padding-top: 10px;
	position: relative;
	display: inline-block;
}

.amenities:hover .popover {
	display: block;
}
.title {
	font-weight: 600;
	margin: 0;
	height: 50%;
	margin-left: 60px;
}

.subtitle {
	margin: 0;
	font-weight: 400;
	height: 50%;
	font-size: 14px;
	margin-left: 60px;
}

.popover {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;
	width: 100%;
	padding-left: 60px;
	padding-top: 30px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: none;
}
.popover li {
  list-style: none;
	margin-top: 5px;
}

.popover li ul {
	margin-bottom: 30px;
}

.popover li h2 {
	font-size: 16px;
	margin-left: -20px;
}

.list_container {
	margin-bottom: 30px;
}
